# taken from https://www.freecodecamp.org/news/dive-into-dotfiles-part-1-e4eb1003cff6/
alias config='/usr/bin/git --git-dir=$HOME/.dotfileconfig --work-tree=$HOME' 
alias gpom='git push origin master'
alias home='cd ~'
alias vim='nvim'
alias vi='nvim'
alias xsc="xclip -selection clipboard" # Primeagen alias
alias mytmux="tmux-sessionizer"
alias mytmuxdetach="tmux-detacher"
alias backup_my_machine="backup-linux-home"
# alias etc="$VIM $DOTFILES/.tmux.conf"
