export PATH_TO_DOTFILES="$HOME/github"
export DOTFILES="$HOME/github/dotfiles"
export PATH="$HOME/neovim/bin:$PATH"
# Set language and use UTF-8
export LC_ALL=en_GB.UTF-8
# Set path to include mySQL
export PATH=/usr/local/bin:/usr/local/mysql/bin:$PATH
# Set path to include Poetry
export PATH=$HOME/.poetry/bin:$PATH
# Set path to include golang, used in Terraform testing
export PATH=/usr/local/go/bin:$PATH
# Set path to include shell utilities such as tmux-sessionizer
export PATH=$HOME/.local/bin:$PATH
# setup vim as the default editor in my terminals
export VISUAL=vim
export EDITOR="$VISUAL"

export GTK_IM_MODULE="ibus"
export QT_IM_MODULE="ibus"
export XMODIFIERS="@im=ibus"

# Work related stuff
export WORK_HOME="$HOME/Documents/01_Cloudsoft/01_Code"
# personal related codebases
export PERSONAL_HOME="$HOME/Documents/03_Home/01_Code"
