[submodule "vimcolors/badwolf"]
	path = vimcolors/badwolf
	url = https://github.com/sjl/badwolf
[submodule "vimcolors/vim-afterglow"]
	path = vimcolors/vim-afterglow
	url = https://github.com/danilo-augusto/vim-afterglow
[submodule "vimcolors/Alduin"]
	path = vimcolors/Alduin
	url = https://github.com/AlessandroYorba/Alduin
[submodule "vimplugins/SimpylFold"]
	path = vimplugins/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold
[submodule "vimplugins/taglist.vim"]
	path = vimplugins/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim
[submodule "vimplugins/ctrlp.vim"]
	path = vimplugins/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vimplugins/nerdtree"]
	path = vimplugins/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vimplugins/vim-fugitive"]
	path = vimplugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vimplugins/vim-surround"]
	path = vimplugins/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim-airline/vim-airline"]
	path = vim-airline/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vimplugins/vim-airline"]
	path = vimplugins/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vimplugins/vim-gitgutter"]
	path = vimplugins/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
